/* CSS general de elementos*/
/* Selector global, cualquier cosa mas especifica sera prioritaria */
* {
   margin: 0px;
   padding: 0px;
}

body{
   background-color: #222;
   color: white;
   font: 300 14px 'Poppins', sans-serif;

   /* font-family: 'Poppins', sans-serif;
   font-size: 14px;
   font-weight: 200; */
}
h2{
   font-size: 36px;
   line-height: 36px;
}
/* Ante la repetición de selecciones, se va a eligir el ultimo que fue creado.*/
h3{
   color:rgb(67, 117, 255);
   font-size: 18px;
   font-weight: 300;
}
p {
   text-align: justify;
}

cite {
   font-weight: 300;
}

/* Elementos dentro de las listas */
i {
   font-size: 35px;
}
/* Cuando te colocas encima de un elemento de la lista */
i:hover
{
   color: rgb(67, 117, 255);
}

/* Para distintos navegadores */
/* Mantener el color de los links blancos */
a:any-link {
   color: white;
}
a:-moz-any-link {
   color: white;
}
a:-webkit-any-link {
   color: white;
}

/* Apartado lista como tal, el conjunto */
li {
   float: left;
   margin-right: 10px;
   margin-top: 100px;
   /* width: 30x; */
}

section {
   padding: 10px 100px 10px 100px;
   /* Arriba, Derecha, Abajo, Izquierda */
   
   
      /* padding-left: 100px;
      padding-right: 100px;
      padding-top: 10px;
      padding-bottom: 10px; */
}

/* Mientas mas especifica el la regla, mas prioridad tiene a ser aplicada. */

/* CSS ids y clases*/
/* . punto para las clases */
.hashtag{
   color:rgb(67, 117, 255);
}


/* # para los ids */
#inicio{
   background-image: url(../images/fondo.png);
   background-repeat: no-repeat;
   background-size: cover;
   /* Mas 10px de arriba y 10px de abajo, serian 300px de altura */
   min-height: 280px;

   min-width: 200px;
}

#experiencia{
   background-color:white;
   color: #222;
}

#portfolio{
   border-top: 1px solid rgb(67, 117, 255);
}

#redes-sociales{
   list-style: none;
   margin-top: 30px;
}