/* CSS general de elementos*/
body{
   background-color: #222;
   color: white;
   font: 300 14px 'Poppins', sans-serif;
   /* font-family: 'Poppins', sans-serif;
   font-size: 14px;
   font-weight: 200; */
}
h2{
   font-size: 36px;
}
/* Ante la repetición de selecciones, se va a eligir el ultimo que fue creado.*/
h3{
   color:rgb(67, 117, 255);
   font-size: 18px;
   font-weight: 300;
}
p {
   text-align: justify;
}

cite {
   font-weight: 300;
}
/* Mientas mas especifica el la regla, mas prioridad tiene a ser aplicada. */
/* CSS ids y clases*/
.hashtag{
   color:rgb(67, 117, 255);
}


#experiencia{
   background-color:white;
   color: #222;
}