/* CSS general de elementos*/
/* Selector global, cualquier cosa mas especifica sera prioritaria */
* {
   margin: 0px;
   padding: 0px;
}

body {
   background-color: #222;
   color: white;
   font: 300 14px 'Poppins', sans-serif;

   /* font-family: 'Poppins', sans-serif;
   font-size: 14px;
   font-weight: 200; */
}

h2 {
   font-size: 36px;
   line-height: 36px;
}

/* Ante la repetición de selecciones, se va a eligir el ultimo que fue creado.*/
h3 {
   color: rgb(67, 117, 255);
   font-size: 18px;
   font-weight: 300;
}

/* position fixed */
nav {
   position: fixed;
   width: 100%;
   /* Corregir la superposición */
   z-index: 1;

   background-color: #222;
   border-bottom: 1px solid rgb(67, 117, 255);
   padding-top: 10px;
   text-align: center;
}

/* Selector de descendía */
nav ul {
   display: inline-block;
}

nav ul li {
   margin: 15px;
   font-size: 20px;
}

nav ul li:hover {
   color: rgb(67, 117, 255);
}



p {
   text-align: justify;
}

cite {
   font-weight: 300;
}

/* Elementos dentro de las listas */
i {
   font-size: 35px;
}

/* Cuando te colocas encima de un elemento de la lista */
i:hover {
   color: rgb(67, 117, 255);
}

/* Para distintos navegadores */
/* Mantener el color de los links blancos */
a:any-link {
   color: white;
}

a:-moz-any-link {
   color: white;
}

a:-webkit-any-link {
   color: white;
}

ul {
   list-style: none;
}

/* Apartado lista como tal, el conjunto */
li {
   float: left;
   margin-right: 10px;
   margin-top: 10px;
   /* width: 30x; */
}

section {
   padding: 10px 100px 10px 100px;
   /* Arriba, Derecha, Abajo, Izquierda */
   /* padding-left: 100px;
      padding-right: 100px;
      padding-top: 10px;
      padding-bottom: 10px; */
}

button {
   border-radius: 15px;

}

/* Mientas mas especifica el la regla, mas prioridad tiene a ser aplicada. */

/* CSS ids y clases*/
/* . punto para las clases */
.hashtag {
   color: rgb(67, 117, 255);
}

.filaportfolio {
   display: flex;
   flex-direction: row;

   flex-wrap: wrap;
   justify-content: space-between;
   gap: 30px 30px;
   margin-bottom: 15px;
   margin-top: 15px;
}

.card {
   width: 250px;
   background-color: #191919;
   border-radius: 15px;
}

.card img {
   border-radius: 15px 15px 0px 0px;
}

.card h4 {
   margin: 0 5px 5px 0;
}

.card h3,
.card h4,
.card p,
.card .masinfo {
   padding: 0 15px;
}

.card .masinfo {
   margin: 15px 0px 15px 0 px;
   height: 26px;
}

.card button {
   padding: 5px;
   margin: 10px;
}

.mas-info button {
   background-color: rgb(67, 117, 255);
   font-weight: 600;
   padding-left: 15px;
   padding-right: 15px;
   padding: 5px;
   margin: 10px;
   float: left;
}

.card .mas-info button {
   float: right
}

.card .sep {
   margin: 0 5px 5px 0;
   border: 1px solid rgb(67, 117, 255);
}

.card-experiecia {
   background-color: #222;
   border-radius: 15px;
   color: white;
   padding: 10px 15px;
}

.card-experiecia h2 {
   margin-bottom: 5px;
}

.card-experiecia h3 {
   margin-bottom: 20px;
}

.card-experiecia p {
   margin-bottom: 20px;
}

.grid-experiencia {
   display: grid;
   grid-template-columns: repeat(3, 500px);
   grid-gap: 10px;
   justify-content: space-between;
   align-content: space-around;

}

@media (min-width: 400px) {
   .grid-experiencia {
      display: flex;
      flex-direction: row;

      flex-wrap: wrap;
      justify-content: space-between;
      gap: 30px 30px;
      margin-bottom: 15px;
      margin-top: 15px;
   }
}

/* # para los ids */
#inicio {
   background-image: url(../images/fondo.png);
   background-repeat: no-repeat;
   background-size: cover;
   /* Mas 10px de arriba y 10px de abajo, serian 300px de altura */
   min-height: 280px;

   min-width: 200px;
   /* Para el nav var */
   padding-top: 100px;
}

#experiencia {
   background-color: white;
   color: #222;
}

#portfolio {
   border-top: 1px solid rgb(67, 117, 255);
}

#redes-sociales {
   margin-top: 30px;
}

#inicio_nombre {
   position: relative;
   width: -moz-fit-content;
   width: fit-content;
   top: 20px;
   padding: 10px;
   background-color: rgba(2, 2, 2, 0.6);
}

#sobre_mi {
   display: grid;
   grid-template-columns: 250px 1fr;
}

#cuerpo_sobre_mi {
   margin: 15px;
}

#cuerpo_sobre_mi h2 {
   margin-bottom: 15px;
}

#cuerpo_sobre_mi .mas-info {
   margin-top: 15px;
}

#sobre_mi .mas-info button {
   padding: 5px 30px 5px 30px;
   /* Arriba, Derecha, Abajo, Izquierda */
}

#contacto {
   background-color: rgb(67, 117, 255);
}

#contacto h2 {
   color: black;
}

#contacto h3 {
   color: #222;
}

.itemform {
   display: grid;
   grid-template-columns: 150px 350px;
   justify-content: center;
   margin-bottom: 10px;
}

.itemform label {
   font-weight: 700;
}

.itemform input,
.itemform textarea {
   border-radius: 5px;
   border: 1px solid white;
}

input[type="submit"] {
   background-color: #222;
   border: 1px solid #222;
   color: white;
   padding: 10px;
   grid-column: 2/3;
   justify-self: end;
}